{% extends 'backbase.html.twig' %}

{% block title %}Hello StatController!{% endblock %}

{% block body %}
    <h2>Revenue: {{ sum }} TND</h2>
    <h2>nombre des produits: {{ nbr }} </h2>
{% endblock %}
